*{
 margin: 0;
 padding: 0;   
}
body{
    background-color: rgb(240, 240, 240);
    font-family: 'Montserrat' !important;
}
#principal{
    display: none;
}
/* Media Queries */

@media (min-width: 100px) and (max-width:720px){
    .portfolio .card{
        margin-bottom: 20px;
    }
}
@media (max-width: 720px){
    .titulo-portfolio, .titulo-contacto{
        height: 40vh !important;
    }
}
/* Estilos del Menu */
.portada, #login{
    background: url("../img/adventure.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: rgb(212, 212, 212);
}
.titulo-portada{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 80vh;
}
.leti{
    width: 20px;
    height: 20px;
}
#barra-menu{
    z-index: 99999999;
}
.menu{
    margin: 0 20px 0 0;
}
.portada>nav p{
    margin: 0;
}
.portada>nav p i{
    margin-left: 10px;
    cursor: pointer;
}
.menu>li, .portada>nav p{
    display: inline;
    list-style: none;
    padding: 0 20px 0 20px;
    font-size: 1.2rem;
}
header>h1{
    padding: 25px;
    background-color:rgb(73, 73, 73);
    letter-spacing: 5px;
}
.menu a{
    color: rgb(212, 212, 212);
}
.portada>nav{
    height: 10vh;
    position: fixed !important;
    width: 100vw;
}
/* Estilos de about */

#about nav{
    background-color: black;
}
.img-personal{
    border-radius: 50%;
    height: 18em;
}
#about>section>ul>li{
    list-style: none;
}
#about>section>ul>li>p{
    margin-top: 50px;
}
#about>section{
    font-size: 1.3em;
}
#about>section:nth-child(1)>h2{
    font-style: italic ;
}
/* Estilos del titulo portfolio */
#titulo-portfolio{
    background: url("../img/back3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 60vh;
    position: relative;
    margin: 0;
    padding: 0;
}
.capa{
    background-color: rgba(134, 134, 134, 0.69);
    z-index: 999;
    height: 100%;
    color: rgb(212, 212, 212);
}
.capa h1{
    letter-spacing: 5px;
}
/* Estilos de portfolio */

.portfolio, .contacto, #about{
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.portfolio>section, #about>section, .contacto>section{
    margin-bottom: 100px;
}
.portfolio>section>h1, .contacto>section>h1, #about>section>h1{
    font-size: 2rem;
}
.portfolio>section>h2, .contacto>section>h2, #about>section>h2{
    font-size: 1.5rem;
}

.portfolio .card{
    width: 100% !important;
}
.portfolio .card .card-text{
    height: 100px;
}

/* Estilos del titulo de contacto */

#titulo-contacto{
    background: url("../img/contacto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 60vh;
    position: relative;
    margin: 0;
    padding: 0;
}
/*Estilos de la pagina contacto*/
.contacto>section iframe{
    width: 100%;
    height: 100%;
}
.contacto>section ul>li{
    list-style: none;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.637);
}
.contacto>section ul>li>i{
    margin-right: 10px;
    color: black;
}
/*Estilos del footer*/
footer{
    height: 15vh;
    background-color: rgba(134, 134, 134, 0.69);
    color: rgb(73, 73, 73)
}
footer p{
    margin-bottom: 0;
}
footer p i{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}

/* ESTILOS DEL LOGIN */

#login nav{
    height: 20vh;
    padding-right: 10px;
    
}
#login main .row{
    height: 80vh;
    color: rgb(73, 70, 70);
}
.form-registro, .form-inicio{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(255,255,255,.7);
}
.btn-registro,.reg{
    margin: 0 10px;
}
.reg{
    color: rgb(0, 6, 95);
}
.btn-entrar, .btn-registrar{
    margin: 10px 0;

}
.inputs{
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(241, 241, 241);
}