*{
 margin: 0;
 padding: 0;   
}
body{
    background-color: rgb(240, 240, 240);
}

/* Estilos del Menu */
.portada{
    background: url("../img/adventure.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: rgb(212, 212, 212);
}
.titulo-portada{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 80vh;
}
.menu,.portada>nav p{
    margin: 0;
}
.menu>li, .portada>nav p{
    display: inline;
    list-style: none;
    padding: 0 20px 0 20px;
}
header>h1{
    padding: 25px;
    background-color:rgb(73, 73, 73);
    letter-spacing: 5px;
}
.portada>nav{
    height: 10vh;
    position: fixed;
    width: 100vw;
}
/* Estilos de about */

.about{
    height: 100vh;
}
.about nav{
    background-color: black;
}
.img-personal{
    border-radius: 50%;
    border: 1px solid black;
    width: 300px;
    height: 300px;
}
.about>section{
    height: 50vh;
    font-size: 1.3em;
}
.about>section:nth-child(1)>h2{
    font-style: italic ;
}
/* Estilos del titulo portfolio */
.titulo-portfolio{
    background: url("../img/back3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 60vh;
    position: relative;
    margin: 0;
    padding: 0;
}
.capa{
    background-color: rgba(134, 134, 134, 0.69);
    z-index: 999;
    height: 100%;
    color: rgb(212, 212, 212);
}
.capa h1{
    letter-spacing: 5px;
}
/* Estilos de portfolio */
.portfolio{
    height: 100vh;
}
.portfolio>section:nth-child(1){
    height: 40vh;
}
.portfolio>section>h1{
    font-size: 1.5rem;
}
.portfolio>section>h2{
    font-size: 1rem;
}
.col-3{
    border: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}